[submodule "demo/addons/3d_player_controller"]
	path = demo/addons/3d_player_controller
	url = https://github.com/kirbycope/godot-3d-player-controller-addon.git
[submodule "demo/addons/controls"]
	path = demo/addons/controls
	url = https://github.com/kirbycope/godot-controls.git
